<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="FirstTest" verbose="1">
    
    <test name ="First Test">
        <classes>
            <class name="MavenProject1.MP1.NewTestTestNG">
                
            </class>
        </classes>
    </test>
    
</suite>