<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name ="" verbose="" >
    <test name ="" preserve-order="">
        <classes>
            <class>
                <methods>
                    <include name=""></include>
                </methods>
            </class>
            
            <class>
                <methods>
                    <include name=""></include>
                </methods>
            </class>
        </classes>
    </test>
    
</suite>